agno
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
appdirs
asttokens
attrs
backoff
bcrypt
beautifulsoup4
blinker
blis
brotli
build
cachetools
catalogue
certifi
cffi
charset-normalizer
chromadb
click
cloudpathlib
coloredlogs
confection
contourpy
crewai
cryptography
cssselect2
cycler
cymem
ddgs
decorator
deprecation
diskcache
distro
dnspython
docstring-parser
docx
duckduckgo-search
durationpy
ecdsa
email-validator
et-xmlfile
executing
fastapi
feedparser
filelock
flatbuffers
fonttools
frozenlist
fsspec
gitdb
gitpython
google-auth
google-genai
googleapis-common-protos
googlesearch-python
grpcio
h11
h2
hf-xet
hpack
httpcore
httptools
httpx
huggingface-hub
humanfriendly
hyperframe
idna
importlib-metadata
importlib-resources
instructor
ipython
ipython-pygments-lexers
jedi
jiter
joblib
jose
json-repair
json5
jsonpickle
jsonref
jsonschema
jsonschema-specifications
kiwisolver
kubernetes
langcodes
language-data
litellm
lxml
lxml-html-clean
marisa-trie
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mmh3
mpmath
multidict
murmurhash
networkx
newspaper4k
nltk
numpy
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
ordered-set
orjson
overrides
packaging
pandas
parso
passlib
pdfminer-six
pdfplumber
pexpect
phonenumbers
pillow
pip
portalocker
postgrest
posthog
preshed
primp
prompt-toolkit
propcache
protobuf
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pybase64
pycountry
pycparser
pydantic
pydantic-core
pydantic-extra-types
pydantic-settings
pydyf
pygments
pyjwt
pylatex
pyparsing
pypdf
pypdfium2
pyphen
pypika
pyproject-hooks
python-dateutil
python-docx
python-dotenv
python-jose
python-multipart
pytz
pyvis
pyyaml
rapidfuzz
realtime
referencing
regex
requests
requests-file
requests-oauthlib
rendercv
rendercv_fonts
rich
jinja2
rpds-py
rsa
ruamel-yaml
ruamel-yaml-clib
scikit-learn
scipy
seaborn
setuptools
sgmllib3k
shellingham
six
smart-open
smmap
sniffio
socksio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
starlette
storage3
strenum
supabase
supabase-auth
supabase-functions
sympy
tenacity
thinc
threadpoolctl
tiktoken
tinycss2
tinyhtml5
tldextract
tokenizers
tomli
tomli-w
tqdm
traitlets
typer
typing-extensions
typing-inspection
typst
tzdata
urllib3
uv
uvicorn
uvloop
wasabi
watchdog
watchfiles
wcwidth
weasel
weasyprint
webencodings
websocket-client
websockets
wrapt
yarl
zipp
zopfli
